@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
	--accent: rgb(123, 105, 89);
}

* {
	box-sizing: border-box;
	font-family: Poppins;
	color: var(--accent);
	padding: 0;
	margin: 0;

	scroll-behavior: smooth;
	user-select: none;
}

svg {
	aspect-ratio: 1;
}

/* main */

body {
	background-color: hsl(0, 0%, 5%);
}

/* navigation */

#navbar {
	display: flex;
	justify-content: center;
	padding-inline: 0.5rem;
	
	width: fit-content;
	margin: auto;
	border-radius: 1rem;
	overflow: hidden;

	background-color: rgba(25, 25, 25, 0.5);
	backdrop-filter: blur(10px);

	position: sticky;
	top: 1rem;

	z-index: 99;

	a {
		text-decoration: none;
		padding: 1rem;

		background-image: linear-gradient(to right, rgb(255, 150, 100), rgb(255, 200, 100) 100%);
		background-repeat: no-repeat;
		background-position: bottom;
		background-size: 0% 3px;

		transition: 150ms;
	}

	a:hover {
		background-size: 100% 3px;
		
	}
}

/* main heading and information */

#self-info {
	text-align: center;
}

#hero-text {
	font-size: 6rem;

	margin-top: 5rem;
	margin-bottom: 1rem;

	background-image: linear-gradient(to right, rgb(255, 100, 100) 0%, rgb(255, 255, 100) 100%);
	background-clip: text;
	color: transparent;
}

/* skills */

#skills-container {
	height: 8rem;
	margin: 4rem;
	padding: 2rem;

	display: flex;
	justify-content: center;
	gap: 1rem;

	border-block: 3px solid hsl(30, 9%, 9%);
}

.skill {
	display: flex;
	align-items: center;
	gap: 1rem;
	padding: 1rem;
	height: 100%;

	flex-grow: 0;

	border-radius: 1rem;
	border: 3px solid hsl(30, 9%, 9%);

	svg {
		height: 100%;
	}
}

/* new sections */

.section-header {
	text-align: center;
	margin: 3rem;
	font-size: 3rem;
	font-weight: 500;
}

/* projects */

#projects-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 2rem;

	padding-inline: 10rem;
}

.project {
	padding: 2rem;
	background-color: hsl(30, 9%, 9%);

	display: flex;
	flex-direction: column;
	gap: 1rem;

	img {
		width: 100%;
		aspect-ratio: calc(16 / 9);
		object-fit: cover;
	}
}

.project-link {
	&:hover {
		&::before {
			content: "";

			position: absolute;
			width: 25px;
			height: 25px;

			margin: 0.5rem;

			background-image: url(images/icons/external-link.png);
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
		}
	}

	transition: 200ms;
}

.project-title {
	font-size: 1.3rem;
	font-weight: 300;
	text-transform: uppercase;
}

.project-description {
	padding-bottom: 2rem;
	border-bottom: 2px solid;
}

.project-tools {
	display: flex;
	flex-wrap: wrap;

	gap: 0.5rem;

	p {
		padding: 0.5rem 0.75rem;
		border-radius: 10px;

		background-color: hsl(0, 0%, 7%);
	}
}

/* about */

#about-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);

	padding: 2rem;
	gap: 2rem;
}

/* footer */

footer {
	display: flex;

	background-color: black;

	padding: 5rem;
	gap: 5rem;
}

.footer-section {
	flex-grow: 1;
	width: 100%;

	display: flex;
	flex-direction: column;
}

.footer-header {
	padding-bottom: 1rem;
	margin-bottom: 1rem;
	border-bottom: 1px solid;
	font-weight: bold;
}

#links-container {
	display: flex;
	gap: 1rem;

	svg {
		fill: var(--accent);
		height: 50px;
	}
}